<div>
    <mat-toolbar>
        <button  class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
          Home
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/connexion">
            connexion
        </button>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/inscription">
            inscription
        </button>
        <button  class="example-icon" aria-label="Example icon-button with share icon">
            déconnexion
        </button>
      </mat-toolbar>
</div>

  